.profil {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.avatar {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: bold;
    font-size: 1.20rem;
    color: #fff;
}
